
<div class="row">
    <div class="col-md-4" *ngFor="let t of datat">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user shadow-lg">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('assets/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">{{t.title}}</h3>
            <h5 class="widget-user-desc text-right">{{t.description}}</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" [src]="t.logo" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">200</h5>
                  <span class="description-text">Questions</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">114</h5>
                  <span class="description-text">Users</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header">35</h5>
                  <span class="description-text">Versions</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
</div>